<section class="container centered" style="flex-direction: column">
    <div>输入代码/拼音首字母，直接回车就能查询</div>
    <div style="display: flex; justify-items: center; margin-top: 1rem;">
        <input type="text" class="typeahead">
    </div>

    <div style="margin-top: 2rem; margin-bottom: 1rem;">
        <b style="margin-right: 1rem;">常用指数：</b>
        <a style="margin-right: 1rem;" href="posts/i/000001.sh">上证指数</a>
        <a style="margin-right: 1rem;" href="posts/i/399001.sz">深证成指</a>
        <a style="margin-right: 1rem;" href="posts/i/399006.sz">创业板指</a>
        <a style="margin-right: 1rem;" href="posts/i/000016.sh">上证50</a>
        <a style="margin-right: 1rem;" href="posts/i/000300.sh">沪深300</a>
        <a style="margin-right: 1rem;" href="posts/i/000905.sh">中证500</a>
        <a style="margin-right: 1rem;" href="posts/i/000688.sh">科创50</a>
    </div>

    <div style="margin-top: 2rem; margin-bottom: 1rem;">
        <b style="margin-right: 1rem;">常用ETF：</b>
        <a style="margin-right: 1rem;" href="posts/f/510050.sh">上证50ETF</a>
        <a style="margin-right: 1rem;" href="posts/f/510300.sh">沪深300ETF（沪）</a>
    </div>

    <script lang="text/javascript">
        function redirect_to() {
            var code = document.getElementsByName('code')[0].value
            var asset = document.getElementsByName('asset')[0].value
            if (asset === 'e') {
                code += code.startsWith('6') ? '.sh' : '.sz'
            } else if (code.startsWith('0')) {
                code += '.sh'
            } else if (code.startsWith('3')) {
                code += '.sz'
            } else {
                alert('暂时仅支持0和3开头的沪深指数')
                return
            }
            window.location.href = 'posts/' + asset + '/' + code + '/'
        }

        function search(ele) {
            if (event.key === 'Enter') {
                redirect_to()
            }
        }
    </script>
</section>
